.button {
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, Helvetica,
    sans-serif;
  font-weight: 700;
  line-height: 1;
  transition: 0.2s;
}

.button--primary {
  background-color: #0ea5e9;
  color: #fff;
}

.button--primary:hover {
  background-color: #0284c7;
}

.button--regular {
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
  color: #000;
  mix-blend-mode: screen;
}

.button--regular:hover {
  background-color: #000;
  color: #fff;
}

.button--small {
  font-size: 12px;
  padding: 10px 16px;
}

.button--medium {
  font-size: 14px;
  padding: 11px 20px;
}

.button--large {
  font-size: 16px;
  padding: 12px 24px;
}
